{% extends 'store/base.html' %}
{% load static %}

	{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/blog_single_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/blog_single_responsive.css' %}">


	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="{{ post.imageURL }}" data-speed="0.8"></div>
	</div>

	<!-- Single Blog Post -->

	<div class="single_post">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="single_post_title">{{ post.title }}</div>
					<div class="single_post_text">
						<p>{{ post.detail }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Related Posts -->

	<div class="blog">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="blog_posts d-flex flex-row align-items-start justify-content-between">

						<!-- Blog post -->
						{% for r_post in related_post %}
						<div class="blog_post">
							<div class="blog_image" style="background-image:url({{r_post.imageURL}})"></div>
							<div class="blog_text">{{ r_post.title }}</div>
							<div class="blog_button"><a href="{% url 'blog:post_view' r_post.topic.slug r_post.slug %}">Đọc tiếp</a></div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	{% endblock content %}

</body>

</html>