{% extends 'store/base.html' %}
{% load static %}

	{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/blog_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/blog_responsive.css' %}">


	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/shop_background.jpg"></div>
		<div class="home_overlay"></div>
		<div class="home_content d-flex flex-column align-items-center justify-content-center">
			<h2 class="home_title">{{ title }}</h2>
		</div>
	</div>

	<!-- Blog -->

	<div class="blog">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="blog_posts d-flex flex-row align-items-start justify-content-between">
						<!-- Blog post -->
						{% for post in posts %}
						<div class="blog_post">
							<div class="blog_image" style="background-image:url({{post.imageURL}})"></div>
							<div class="blog_text">{{ post.title }}</div>
							<div class="blog_button"><a href="{% url 'blog:post_view' post.topic.slug  post.slug %}">Đọc tiếp</a></div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	{% endblock content %}
