{% load static %}

<!-- Main Navigation -->

<nav class="main_nav">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="main_nav_content d-flex flex-row">
          <!-- Categories Menu -->

          <div class="cat_menu_container">
            <div
              class="cat_menu_title d-flex flex-row align-items-center justify-content-start"
            >
              <div class="cat_burger">
                <span></span><span></span><span></span>
              </div>
              <div class="cat_menu_text">Danh mục sản phẩm</div>
            </div>

            <ul class="cat_menu">
              {% for cat in categories %}
                {% include "store/navbar/recursive_categories.html" %}
              {% endfor %}
            </ul>
          </div>

          <!-- Main Nav Menu -->

          <div class="main_nav_menu ml-auto">
            <ul class="standard_dropdown main_nav_dropdown">
              {% for menu in menus %}
                {% include "store/navbar/recursive_menus.html" %}
              {% endfor %}
            </ul>
          </div>