{% extends 'account/base.html' %}
{% block content %}

<form class="login100-form validate-form" method='POST'>
    {% csrf_token %}
    <span class="login100-form-title">
        Đăng nhập thành viên
    </span>

    <div class="wrap-input100 validate-input" data-validate = "Tên tài khoản không được để trống">
        <input class="input100" type="text" name="username" placeholder="Tên tài khoản hoặc Email">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-user" aria-hidden="true"></i>
        </span>
    </div>

    <div class="wrap-input100 validate-input" data-validate = "Mật khẩu không được để trống">
        <input class="input100" type="password" name="password" placeholder="Password">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
    </div>
    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type='submit'>
            Đăng nhập
        </button>
    </div>

    <div class="text-center p-t-12">
        <span class="txt1">
            Quên
        </span>
        <a class="txt2" href="#">
            tài khoản / mật khẩu?
        </a>
    </div>

    <div class="text-center p-t-136">
        <a class="txt2" href="{% url 'account:register' %}">
            Tạo tài khoản mới
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
        </a><br>
        <a class="txt2" href="{% url 'index' %}">
            Quay lại trang chủ
            <i class="fa fa-undo m-l-5" aria-hidden="true"></i>
        </a>
    </div>
</form>

{% endblock content %}